/*------------------- MAIN LIÊN HỆ-------------------- */
main {
    padding: 4rem 12rem;
    margin: auto;
    background-color: #fff;
    font-size: 1rem;
}

main p {
    margin: 0rem;
}

main a {
    text-decoration: none;
    color: #333;
}

.lienhe {
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    text-align: center;
}

.lienhe-support {
    display: block;
}

.contactContent {
    /* background-color: var(--extra1-color); */
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    width: 60%;
    margin: auto;
}

.contactContent select {
    border: 1px solid #c2c2c2;
    margin-bottom: 1rem;
    text-align: center;
    /* font-size: 1.6rem; */
}

.contactContent textarea
{
    height: 10rem !important;
}

.form-group.invalid .error-message {
    color: #f33a58;
}

.form-group.invalid .form-control,
.form-group.invalid .icon {
    border-color: #f33a58 !important;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-group .form-control {
    border-radius: 1.2rem;
    padding: 1rem;
}

.myBtn {
    width: 40%;
    background-color: var(--extra1-color);
    color: #fff;
    font-weight: 600;
    border-radius: 0.8rem;
    cursor: pointer;
    padding: 0.5rem;

}
.supportContact {
    width: 90%;
    margin: auto
}

main .supportContact b:hover a {
    color: var(--extra1-color);
}