main {
    padding: 6rem 16rem;
    margin: auto;
    background-color: #fff;
}

main p {
    padding: 0rem;
    margin: 0em;
    /* font-size: 1.6rem; */
    font-size: 1rem;
}

.order__info {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.4rem;
    position: relative;
}

.order__info:hover {
    box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.order__info i
{
    /* font-size: 2.4rem; */
    font-size: 1.6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.order__info__user {
    padding: 0.5rem 2rem;
}

.order__info__product {
    padding: 1rem 0rem;
}

.order__info__product img {
    width: 100%;
}


.order__info__product__name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 450;
    width: 12rem;
}

.order__info__sum__type p
{
    font-weight: 350;
    margin-bottom: .8rem;
}

.order__info__sum__price p
{
    font-weight: 600;
    margin-bottom: .8rem;
}

.order__info__option{
    width: 100%;
    padding: .4rem;
    display: flex;
}
.order__info__option button{
    width: 50%;
    cursor: pointer;
    margin-right: 1rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    border: 0.1rem solid #c2c2c2;
    background-color: #fff;
    transition: 0.2s;
    /* font-size: 1.5rem; */
    font-size: 1rem;
    font-weight: 600;
}

.order__info__option button:hover
{
    transform: scale(1.05);
    border-color: var(--extra1-color);
    color: var(--extra1-color);
}

/* Modal */
.settingUserInfo__navWrapper__modalBackground
{
    background-color: var(--main-extra-bg) !important;
    color: var(--font-color);
    padding: .8rem;
    /* font-size: 1.5rem; */
    font-size: 1rem;

}

.settingUserInfo__navWrapper__modalBackground button
{
    /* font-size: 1.6rem; */
    font-size: 1rem;

}

.modal-dialog .form-group
{
    position: relative;
}

.modal-dialog .modal-title
{
    /* font-size: 2rem; */
    font-size: 1.3rem;

}

.modal-dialog .form-control, .form-select{
    background-color: var(--main-extra-bg) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 0.6rem !important;
    color: var(--font-color) !important;
    /* font-size: 1.4rem; */
    font-size: 1rem;

}



.pwd-eye
{
    position: absolute;
    top: 0.7rem;
    right: 1.5rem;
    color: var(--font-input-color);
}

.pwd-eye:hover{
    cursor: pointer !important;
    
}

.modal-dialog .form-control:focus{
    box-shadow: 0 0 0 .05rem var( --main-color) !important;
    background-color: var(--main-extra-bg) !important;
    color: var(--font-color) !important;
}

.modal .form-check-input{
    background-color: var(--font-input-color) !important;
}

.modal .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none !important;
}

.modal .form-check-input:checked {
    background-color:var( --extra1-color) !important;
    border-color: var( --main-color) !important;
}

.modal .is-invalid
{
    border: 1px solid #dc3545 !important;
    display: block !important;
}

.modal .is-invalid:focus
{
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

.settingUserInfo__navWrapper__next
{
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    /* font-size: 1.2rem; */
    font-size: 0.8rem;

}

.settingUserInfo__navWrapper__nav:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

.settingUserInfo__navWrapper__nav:first-child{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.settingUserInfo__navWrapper__nav--last
{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.settingUserInfo__navWrapper__nav__title
{
    /* font-size: 1.6rem; */
    font-size: 1rem;

    font-weight: 550;
    margin-bottom: .1rem;
    margin-left: .4rem;
}

.settingUserInfo__navWrapper__nav__info
{
    margin-left: 1.4rem;
    font-weight: 350;
    font-size: 1rem;
    /* font-size: 1.6rem; */
}