/* Theme */
[data-bs-theme=light]:root{
    --button-erase-color: rgb(136 136 136 / 23%);
    --button-erase-hover: rgba(136, 136, 136, 0.354);
    --hover-color: rgb(209 209 209 / 28%);
    --border-color: #ced4da;
}

[data-bs-theme=dark]:root{
    --button-erase-color: var(--extra-bg); 
    --button-erase-hover: rgba(136, 136, 136, 0.269);
    --hover-color: rgba(136, 136, 136, 0.269);
    --border-color: #555555;
}

/* Main */
main{
    position: relative;
    padding: 10rem 15rem;
    background: var(--main-bg);
    /* font-size: 1.5rem; */
    font-size: 1rem;
}

main p{
    margin: 0;
}

/* Nav */
main .settingNavWrapper
{
    border: 1px solid var(--extra-bg);
    border-radius: .5rem;
    background-color: var( --main-extra-bg);
    padding: 2rem 2rem;
    min-height: 100vh;
}

.settingNavWrapper__header
{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    margin-bottom: 2rem;
}

.settingWrapper__header__icon--back
{
    /* font-size: 1.4rem; */
    font-size: 1rem;
}

.settingNavWrapper__header__title
{
    /* font-size: 1.6rem; */
    font-size: 1rem;
    font-weight: 600;
}

.settingNavWrapper__nav__container
{
    /* min-height: 70vh; */
    padding: 1rem;
    margin-top: 1rem;
    display: block !important;
}


.settingNavWrapper__nav
{
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    align-items: center;
    border-radius: 1rem;
    padding: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 0.1rem;
    font-weight: 550;
    height: 3rem;
}


.settingNavWrappter__nav__icon i
{ 
    /* font-size: 1.2rem; */
    font-size: .8rem;
    color: var(--font-color);
    margin-right: 1rem;
}

.settingNavWrapper__nav:hover{
    background-color: var(--hover-color);
}

/* Content */
/* Thông tin cá nhân */
main .settingUserInfo
{
    margin-top: 1rem;
    background-color: var(--main-extra-bg);
    border-radius: 1rem;
    padding: 3rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 0.1rem;
    width: 90%;
}

.settingUserInfo__title
{
    /* font-size: 2.4rem; */
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.settingUserInfo__navWrapper
{
    margin-bottom: 2rem;
}

.settingUserInfo__navWrapper__nav
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .8rem;
    border: 1px solid var(--extra-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 0.05rem;
}

.settingUserInfo__navWrapper__modalBackground
{
    background-color: var(--main-extra-bg) !important;
    color: var(--font-color);
}

.settingUserInfo__navWrapper__modalBackground button
{
    /* font-size: 1.6rem; */
    font-size: 1rem;
}

.modal-dialog .form-group
{
    position: relative;
}

.modal-dialog .modal-title
{
    /* font-size: 2rem; */
    font-size: 1.2rem;
}

.modal-dialog .form-control{
    background-color: var(--main-extra-bg) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 0.6rem !important;
    color: var(--font-color) !important;
    /* font-size: 1.4rem; */
    font-size: 1rem;

}

.pwd-eye
{
    position: absolute;
    top: 0.7rem;
    right: 1.5rem;
    color: var(--font-input-color);
}

.pwd-eye:hover{
    cursor: pointer !important;
    
}

.modal-dialog .form-control:focus{
    box-shadow: 0 0 0 .05rem var( --main-color) !important;
    background-color: var(--main-extra-bg) !important;
    color: var(--font-color) !important;
}

.modal .form-check-input{
    background-color: var(--font-input-color) !important;
}

.modal .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none !important;
}

.modal .form-check-input:checked {
    background-color:var( --extra1-color) !important;
    border-color: var( --main-color) !important;
}

.modal .is-invalid
{
    border: 1px solid #dc3545 !important;
    display: block !important;
}

.modal .is-invalid:focus
{
    border-color: #dc3545 !important;
    box-shadow: none !important;
}

.settingUserInfo__navWrapper__next
{
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    /* font-size: 1.2rem; */
    font-size: .8rem;
}

.settingUserInfo__navWrapper__nav:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

.settingUserInfo__navWrapper__nav:first-child{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.settingUserInfo__navWrapper__nav--last
{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.settingUserInfo__navWrapper__nav__title
{
    /* font-size: 1.6rem; */
    font-size: 1rem;
    font-weight: 550;
    margin-bottom: .1rem;
    margin-left: .4rem;
}

.settingUserInfo__navWrapper__nav__info
{
    margin-left: 1.4rem;
    font-weight: 350;
    /* font-size: 1.6rem; */
    font-size: 1rem;
}

/* Bảo mật */
.settingSecurity_navWrapper__nav
{
    display: flex;
    justify-content: center;
    height: 3rem;
    /* width: 15rem; */
}

.settingSecurity_navWrapper__nav:first-child{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.settingSecurity_navWrapper__nav:last-child
{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.settingSecurity_navWrapper__nav__title
{
    margin-left: 1rem;
}

/* Theme */
.settingTheme__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingTheme__container .form-select
{
    width: 30%;
    background-color: var(--main-extra-bg) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 0.6rem !important;
    color: var(--font-color) !important;
}

.settingTheme__container .form-select:focus
{
    box-shadow: 0 0 0 .05rem var( --border-color) !important;
    /* background-color: var(--main-extra-bg) !important; */
    color: var(--font-color) !important;
}

/* Thích ứng */
@media screen and (max-width: 36rem) {
    main .settingUserInfo
    {
        margin-top: 0rem;
        margin-bottom: 0rem;
        border-radius: 0rem;
    }

    main .settingNavWrapper
    {
        border-radius: 0rem;
    }
  }